@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    --bg-color: rgb(255, 255, 255);
    background: var(--bg-color);
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    --back-color: #fff;
    background: var(--back-color);
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
    --front-color: #fff;
    background: var(--front-color);
}
.memory-game-left {
    width: 480px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border: solid 10px;
}
.memory-card-left {
    width: calc(33.333% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.left {
    transform: rotateY(0deg);
    --front-color: #fff;
    background: var(--front-color);
}
.info {
    margin: auto;
}